.pageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: var(--page-container-padding);
}

.whiteBackground {
  background-color: var(--whiteBackground);
}

.pageContainer h1 {
  margin: 0;
  padding: 0;
  color: var(--black);
}